[Desktop Entry]
Comment=
Exec=/home/operador/.local/bin/MATLAB/R2023a/bin/matlab -desktop
Icon=matlab-desktop
Name=Matlab R2023a
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
