[Unit]
Description=RClone Mount OneDrive
AssertPathIsDirectory=/home/nmbrito/OneDrive-Pessoal
Wants=network-online.target
After=network-online.target

[Service]
Type=notify

ExecStartPre=/bin/mkdir -p /home/nmbrito/OneDrive-Pessoal

ExecStart=/usr/bin/rclone mount 1DrivePessoal: /home/nmbrito/OneDrive-Pessoal \
    --vfs-cache-mode writes \
    --vfs-cache-max-size 10G

ExecStop=/bin/fusermount -u /home/nmbrito/OneDrive-Pessoal

Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
